<table class="table lessons-list card card-strong">
  <!-- *ngIf="lessons; else  loadingLessons;"> -->
  <tbody>
    <pre>{{ lessons | json }}</pre>
    <tr *ngFor="let lesson of lessons" >
      <td class="viewed">
        <input [checked]="lesson.completed" type="checkbox" (click)="toggleLessonViewed(lesson)" />
      </td>
      <td class="lesson-title" [ngClass]="{'lesson-viewed': lesson.completed}"> {{lesson.description}}</td>
      <td class="duration">
        <!-- <i class="md-icon duration-icon">access_time</i> -->
        <!-- <span>{{lesson.duration}}</span> -->
        <button class="button button-highlight" (click)="delete(lesson)">X</button>
      </td>
    </tr>
  </tbody>
</table>
